#1) Load the tidyverse and datasets packages. Explore the documentation to find a datset.

In [ ]:
# note: if you don't already have them installed you need to run the following two lines in addition
#install.packages(tidyverse)
#install.packages(datasets)

#load packages
library(tidyverse)
library(datasets)

#explore documentation
?datasets()

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

#2) Explore the dataset (I will use 'trees') - print the dataset, access and print a column, access and print a row, edit a value. Rename a column.

In [ ]:
#print whole dataset
trees           #could also run 'print(trees)'

   Girth Height Volume
1   8.3  70     10.3
2   8.6  65     10.3
3   8.8  63     10.2
4  10.5  72     16.4
5  10.7  81     18.8
6  10.8  83     19.7
7  11.0  66     15.6
8  11.0  75     18.2
9  11.1  80     22.6
10 11.2  75     19.9
11 11.3  79     24.2
12 11.4  76     21.0
13 11.4  76     21.4
14 11.7  69     21.3
15 12.0  75     19.1
16 12.9  74     22.2
17 12.9  85     33.8
18 13.3  86     27.4
19 13.7  71     25.7
20 13.8  64     24.9
21 14.0  78     34.5
22 14.2  80     31.7
23 14.5  74     36.3
24 16.0  72     38.3
25 16.3  77     42.6
26 17.3  81     55.4
27 17.5  82     55.7
28 17.9  80     58.3
29 18.0  80     51.5
30 18.0  80     51.0
31 20.6  87     77.0

In [ ]:
#access and print a column - there are many ways to do this, all are equivalent
trees$Girth      
trees[1]        #returns a tibble containing the Girth column only
trees[[1]]      #returns a vector containing the entries of the Girth column

 [1]  8.3  8.6  8.8 10.5 10.7 10.8 11.0 11.0 11.1 11.2 11.3 11.4 11.4 11.7 12.0
[16] 12.9 12.9 13.3 13.7 13.8 14.0 14.2 14.5 16.0 16.3 17.3 17.5 17.9 18.0 18.0
[31] 20.6

   Girth
1   8.3
2   8.6
3   8.8
4  10.5
5  10.7
6  10.8
7  11.0
8  11.0
9  11.1
10 11.2
11 11.3
12 11.4
13 11.4
14 11.7
15 12.0
16 12.9
17 12.9
18 13.3
19 13.7
20 13.8
21 14.0
22 14.2
23 14.5
24 16.0
25 16.3
26 17.3
27 17.5
28 17.9
29 18.0
30 18.0
31 20.6

 [1]  8.3  8.6  8.8 10.5 10.7 10.8 11.0 11.0 11.1 11.2 11.3 11.4 11.4 11.7 12.0
[16] 12.9 12.9 13.3 13.7 13.8 14.0 14.2 14.5 16.0 16.3 17.3 17.5 17.9 18.0 18.0
[31] 20.6

In [ ]:
#access and print a row - there is one main way to do this
trees[4,]       #the number before the comma indicates which row to access. 
                #the blank after the comma indicates that all columns should be reported

  Girth Height Volume
4 10.5  72     16.4

In [ ]:
#edit a value
trees_edited <- trees      #note I saved this into a new variable so I still have the original copy
                           #incase I need to go back
trees_edited[4,2] <- 73    #changes the value stored in row 4 column 2 from 72 to 73

trees[4,2]                         
trees_edited[4,2]

[1] 72

[1] 73

In [ ]:
#rename a column - there is an easy function that is part of the 'tidyverse' package called rename()
?rename()
rename(trees_edited,Girth_inches = Girth)

   Girth_inches Height Volume
1   8.3         70     10.3
2   8.6         65     10.3
3   8.8         63     10.2
4  10.5         73     16.4
5  10.7         81     18.8
6  10.8         83     19.7
7  11.0         66     15.6
8  11.0         75     18.2
9  11.1         80     22.6
10 11.2         75     19.9
11 11.3         79     24.2
12 11.4         76     21.0
13 11.4         76     21.4
14 11.7         69     21.3
15 12.0         75     19.1
16 12.9         74     22.2
17 12.9         85     33.8
18 13.3         86     27.4
19 13.7         71     25.7
20 13.8         64     24.9
21 14.0         78     34.5
22 14.2         80     31.7
23 14.5         74     36.3
24 16.0         72     38.3
25 16.3         77     42.6
26 17.3         81     55.4
27 17.5         82     55.7
28 17.9         80     58.3
29 18.0         80     51.5
30 18.0         80     51.0
31 20.6         87     77.0

#3) Create a tibble with date and price columns. Add 730 days (two years from 1/1/2018 - 12/31/2019). Simulate prices with normal distribution (mean 100, stdev 10) for 2018, and uniform distribution (100 to 200) for 2019.

In [ ]:
?as.Date()
?seq()

In [ ]:
#Create the dataset containing dates and prices. The seq() function can handle dates. 
#I initialized the prices to all be 1 and then will go back and change them for the proper time frames
#but there are many other ways to do this.

prices <- tibble(
  date = seq(from = as.Date("2018/1/1"),to = as.Date("2019/12/31"),by = "day"),
  price = 1
)

In [ ]:
?rnorm()
?runif()

In [ ]:
#go back and simulate the prices by changing the appropriate entries
prices[1:365,2] <- rnorm(365,100,10)      #change rows 1 through 365 in column 2 to be samples from rnorm()
prices[366:730,2] <- runif(365,100,200)          #change rows 366 through 760 in column 2 to be samples from runif()

#print to check it out
prices

    date       price
1   2018-01-01  99.91366
2   2018-01-02 110.50391
3   2018-01-03  91.57210
4   2018-01-04 100.88456
5   2018-01-05 107.72822
6   2018-01-06 104.67736
7   2018-01-07  85.34799
8   2018-01-08  99.87349
9   2018-01-09  94.33546
10  2018-01-10 110.01404
11  2018-01-11 116.92900
12  2018-01-12  92.70699
13  2018-01-13 120.86577
14  2018-01-14 112.84657
15  2018-01-15 106.15311
16  2018-01-16  96.37250
17  2018-01-17 103.39208
18  2018-01-18 102.89591
19  2018-01-19 121.10005
20  2018-01-20  99.53282
21  2018-01-21 110.65294
22  2018-01-22 114.65329
23  2018-01-23  88.52252
24  2018-01-24  91.07313
25  2018-01-25  93.65323
26  2018-01-26 110.63646
27  2018-01-27  90.97113
28  2018-01-28 102.02153
29  2018-01-29 112.91545
30  2018-01-30 122.58422
⋮   ⋮          ⋮
701 2019-12-02 165.9663
702 2019-12-03 158.3174
703 2019-12-04 144.4715
704 2019-12-05 168.4020
705 2019-12-06 121.7934
706 2019-12-07 174.2447
707 2019-12-08 103.8404
708 2019-12-09 131.3398
709 2019-12-10 131.5084
710 2019-12-11 173.9877
711 2019-12-12 193.8174
712 2019-12-13 146.7466
713 2019-12-14 131.9701
714 2019-12-15 112.2244
715 2019-12-16 118.7589
716 2019-12-17 195.6884
717 2019-12-18 186.5544
718 2019-12-19 192.1105
719 2019-12-20 191.6800
720 2019-12-21 105.2611
721 2019-12-22 170.9345
722 2019-12-23 190.7419
723 2019-12-24 165.7219
724 2019-12-25 130.9433
725 2019-12-26 196.3318
726 2019-12-27 138.4817
727 2019-12-28 163.6112
728 2019-12-29 119.4445
729 2019-12-30 127.6585
730 2019-12-31 165.0906

#4) If these were real price fluctuations (i.e. gathered data not simulated data) how would you analyze them to determine if there was a significant change in pricing between 2018 and 2019?

I would calculate the average price in 2018 and the average price in 2019 and compare them. If the difference is sizeable, I might run a t-test to test for significance.

#5) Calculate average price in 2018, 2019, compare. Is this evidence of a price increase? What test could you run to be sure?

In [ ]:
avg_price_2018 <- mean(prices$price[1:365])
avg_price_2019 <- mean(prices$price[366:730])

print(c('2018 avg price:',avg_price_2018))
print(c('2019 avg price:',avg_price_2019))
print(c('difference in average price:',avg_price_2019 - avg_price_2018))

[1] "2018 avg price:"  "100.103712354207"
[1] "2019 avg price:"  "150.063392110934"
[1] "difference in average price:" "49.9596797567276"

Yes this is evidence of price increases on average. You could run a t-test to show that the increase is statistically significant.

#6) Create new column that lists the mean price difference for each date. Does this increase or decrease 2018 to 2019? You could also look at the varaince in price.

In [ ]:
#first calculate the overall average price
avg_price_all <- mean(prices$price)

#then add a new column to the tibble containing the difference between the price on each day and the average
prices <- add_column(prices,mean_difference = prices$price - avg_price_all)

In [ ]:
variance_2018 <- mean((prices$mean_difference[1:365])^2)
variance_2019 <- mean((prices$mean_difference[366:730])^2)

variance_2018
variance_2019

[1] 718.5556

[1] 1465.807

The prices in 2018 were not only below average but also less variable than the prices in 2019. 

---